build
input.txt
*.wav

.xmake/
.cache
Audio Lab01 9.zip
lab01/code/run-tests.sh
samuel_roland.tar.gz
samuel_roland.1.tar.gz
samuel_roland.2.tar.gz
lab04/code/lib/stb/
lab04/code/part1/sub
lab04/code/part1/tests
lab04/code/part1/1.png
*.png
orga.md
rendu_lab04.zip
lab01
lab06/code/out
lab06/code/results.txt
lab06/code/out2
rendu_lab06.zip
lab07/code/data
lab07/code/expected
lab07/code/gen/
