build
input.txt
*.wav

.xmake/
.cache
Audio Lab01 9.zip
lab01/code/run-tests.sh
samuel_roland.tar.gz
samuel_roland.1.tar.gz
samuel_roland.2.tar.gz
lab04/code/lib/stb/
lab04/code/part1/sub
lab04/code/part1/tests
lab04/code/part1/1.png
*.png
orga.md
rendu_lab04.zip
lab01
lab06/code/out
lab06/code/results.txt
lab06/code/out2
rendu_lab06.zip
lab07/code/data
lab07/code/expected
lab07/code/gen/
callgrind.out*
perf.data
perf.data*
*.json
lab07/code/part1/*.c
lab07/code/part1/*.md
lab07/code/part1/out
lab07/code/part1/percent
lab07/code/CMakeLists.txt
lab07/code/part1/data
lab07/code/part1/expected
lab07/code/part1/gen
lab07/code/part2/out.txt
